/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/public/stream
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Stream Extentions
*.ts
*.m3u8

.DS_Store
